<html>
<title>Green Bay Real Estate</title>
<header>Green Bay Real Estate</header>

<div id="menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/listings">Listings</a></li>
	</ul>
</div>
<body>
<table>
	<tr>
		<th>Address:</th
		<th>Unit #:</th>
		<th>Price:</th>
		<th>Description:</th>
	</tr>

<% @listings.each do |listing| %>
	<tr>
		<td><%= listing.address %></td>
		<td><%= listing.unit %></td>
		<td>$<%= listing.price %>.00</td>
		<td><%= listing.description %></td>
		<td><%= link_to "Show", listing %></td>
	</tr>
		<% end %>
</table>
</body>
<footer>&copy; Copyright 2015 - Green Bay Real Estate</footer>
</html>