<h1>Create a New Listing</h1>

<%= form_for @listings, url: {action: "create"} do |f| %>
	<%= f.label :address %>:
	<%= f.text_field :address %><br><br>

	<%= f.label :unit %>:
	<%= f.text_field :unit %><br><br>

	<%= f.label :price %>: $
	<%= f.text_field :price %><br><br>

	<%= f.label :description %>:
	<%= f.text_area :description %><br><br>

	<%= f.label :image %>:
	<%= f.text_field :img_url %><br><br>

	<%= f.label :agent_id %>:
	<%= f.text_field :agent_id %><br><br>

	<%= f.submit "Create" %>

<% end %>