<center><h2>Current Listing</h2></center>

<h4>Address:</h4> <%= @listings.address %>
<h4>Unit #:</h4> <%= @listings.unit %>
<h4>Price: $</h4><%= @listings.price %>
<h4>Description:</h4> <%= @listings.description %>
<h4>Image:</h4> <%= @listings.img_url %><p>

<%= link_to "Back", listings_path %>