<center><h2>Current Listing</h2></center>

<h4>Address:</h4> <h3><%= @listings.address %></h3>
<h4>Unit #:</h4> <h3><%= @listings.unit %></h3>
<h4>Price: $</h4> <h3><%= @listings.price %></h3>
<h4>Description:</h4> <h3><%= @listings.description %></h3>
<h4>Agent ID:</h4> <h3><%= @listings.agent_id %></h3>
<h4>Image:</h4> <h3><%= image_tag @listings.image.url(:large) %><p></h3>

<%= link_to 'Back', listings_path %>
<%= link_to 'Delete', @listings, :method => 'delete' %>