<html>

<body>
<center><h2>Current Listing</h2></center>

<center><%= link_to 'Back', listings_path %>
<%= link_to 'Delete', @listings, :method => 'delete' %></center><br><br>

<table class="pure-table">
    <thead>
        <tr>
            <th>Address</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Description</th>
            <th>Agent ID</th>
            <th>Image</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><%= @listings.address %></td>
            <td><%= @listings.unit %></td>
            <td><%= @listings.price %></td>
            <td><%= @listings.description %></td>
            <td><%= @listings.agent_id %></td>
            <td><%= image_tag @listings.image.url(:medium) %></td>
        </tr>
    </tbody>
</table>

</body>
</html>